{% import "./global.html" as global %}
{% import "./macro.html" as macros with context %}

<!doctype html>
<html lang="zh-CN">
    <head>
        {%- block head -%}{%- endblock -%}
        {{ macros.cssLoader(['/pages/common_modules/core.css']) }}
        {%- block pagecss -%}{%- endblock -%}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153421736-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-153421736-1');
        </script>
    </head>
    <body>
        <div id="app">
            {%- block header -%}{%- endblock -%}
            {%- block navigator -%}{%- endblock -%}
            {%- block content -%}{%- endblock -%}
            {%- block footer -%}{%- endblock -%}
        </div>
        {{ macros.jsLoader(['/common/common.js', '/common/commonmodule.js']) }}
        {%- block pagejs -%}{%- endblock -%}
        <script data-ad-client="ca-pub-8357088632552308" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    </body>
</html>